body {
  margin: 0;
  // font-family: "Bigelow Rules", cursive;
  font-family: "EB Garamond", serif;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  // font-family: "Quintessential", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
